.place__like-icon {
  width: 21px;
  height: 19px;
  border: none;
  background-color: #FFF;
  align-self: center;
  margin-right: 22px;
  margin-left: auto;
  background-image: url('../../../images/like-icon.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.place__like-icon:hover {
  transition: 0.05s ease-in 0.01s;
  opacity: 0.3;
  cursor: pointer;
}