.place__trash {
    position: absolute;
    top: 18px;
    right: 15px;
    background-color: none;
}

.place__trash:hover {
    transition: 0.1s ease-in 0.1s;
    opacity: 0.6;
    cursor: pointer;
  }