.popup__save {
  width: 83%;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  margin: 48px auto 36px auto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #fff;
  align-self: flex-end;
  border: none;
}

.popup__save:hover {
  transition: 0.1s linear 0.1s;
  background-color: #313131;
  cursor: pointer;
}
